.cab
    +clr
    .cab__inf
        width: 550px
        p
            letter-spacing: -.4px
    .cab__buttons
        margin-top: 30px
    .cab__print
        margin: 34px 0 15px
        text-align: right
    .info-brown
        margin-top: 52px
    table
        +r(1200)
            font-size: 12px
        tr
            border-bottom: 1px solid $border-td
            &:first-child
                text-align: left
        th
            padding: 7px 10px 19px 0
            font-weight: normal
        th,
        td
            min-width: 62px
            width: 12%
            vertical-align: top
            &:nth-child(2)
                width: 7%
            &:nth-child(3)
                padding-right: 15px
                min-width: 163px
                width: 32%
                letter-spacing: 0.9px
            &:nth-child(4)
                width: 13%
        td
            padding: 16px 0 23px
            &.is-yellow
                color: $yellow-table
            &.is-red
                color: $red
        a
            display: inline-block
        img
            margin-top: 4px
            display: block
        .sorting__item
            margin: 0 10px 0 -10px
            text-align: left
            line-height: 20px
            &:before
                bottom: 14px
        .article
            font-size: 12px

// repair
.repair
    overflow-x: auto
    overflow-y: visible
    width: 100%
    &.is-doing
        table
            td, th
                min-width: 62px
                &:first-child
                    width: 20%
                &:nth-child(2)
                    width: 22%
                &:nth-child(3)
                    width: 5%
                &:nth-child(4)
                    width: 40%
                &:nth-child(5)
                    width: 13%
            td
                &:nth-child(4)
                    padding-right: 55px
    .jspContainer
        height: 100% !important
        width: 100% !important
    .jspPane
        position: relative !important
        height: 100% !important
    table
        td
            width: 9%
            &:first-child
                padding-right: 5px

.alt
    float: right
    width: 38%
    padding: 50px 30px 
    background: #f9edc1 
    .title-h3
        margin-bottom: 20px  
    ul
        margin-top: 20px
        margin-bottom: 35px
        li
            position: relative
            padding-left: 22px
            &:before
                content: ""
                position: absolute
                top: 11px
                left: 0
                width: 10px
                height: 1px
                background: #000 
    .btn
        margin-top: 35px
        padding-left: 18px
        padding-right: 18px
        display: block              
.btn_fill
    background: transparent
    color: $primary
    border: 1px solid $primary
    +tr(color 300ms)
    &:hover
        background: $primary
        color: #fff 
.login
    float: left
    width: 60%
    margin-right: 2%
    padding: 43px 30px
    border: 1px solid #c5c5c5
    .login__title
        margin-bottom: 32px
        padding-bottom: 20px
        border-bottom: 1px solid #dfdfdf  
        font-size: 24px
        +f500

// reg
.reg
    width: 610px
    padding: 43px 30px
    border: 1px solid #c5c5c5
    border-radius: 1px
    .reg__title
        margin-bottom: 32px
        padding-bottom: 20px
        border-bottom: 1px solid #dfdfdf  
        font-size: 24px
        +f500
    .input
        & > p
            width: 38% 
        & > input
            width: 58%
        .input__right
            width: 58%
        & > .form-error
            padding-left: 42%

.form
    position: relative
.form__row
    +clr
    display: block
    margin-bottom: 20px
.form__submit
    margin-top: 25px
    .btn
        width: 100% 
.form__in
    margin-bottom: 32px
    padding-bottom: 10px
    border-bottom: 1px solid $border-debr
    & + .form__submit
        margin-top: 50px
.form__add
    margin: 20px 0
    text-align: right
.add__rig
    position: relative
    padding-left: 14px
    color: #000
    font-size: 12px
    +f300
    +transition(color .3s, border-color .3s)
    &:hover
        color: $second_h
        text-decoration: none
        span
            border-color: $second_h
    &:before
        position: absolute
        content: '+'
        top: 50%
        font-size: 13px
        left: 0
        +f700
        +translate(0,-50%)
    span
        border-bottom: 1px dotted #000
        +transition(border-color .3s)
.is-blocked
    opacity: 0.3
    pointer-events: none             
.input
    +clr
    display: block
    & > p
        float: left
        width: 27% 
        margin-top: 3px
        +f700
        font-size: 14px
        color: #000
        span
            color: red
    & > input
        float: right
        width: 70%
        height: 32px
        border-radius: 3px
        border: 1px solid #c5c5c5
        padding: 0 8px
        +f300
        font-size: 14px
        +transition(border-color .3s, box-shadow .3s)
        &::placeholder
            color: rgba(#000, 0.5)
        &:hover
            border-color: $green
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
        &.error
            border-color: $red
            &:hover,
            &:focus
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(248, 52, 52, 0.15)
        &.valid
            border-color: $green
    .input__right
        float: right
        width: 70%
        line-height: 32px
        min-height: 32px
        +clr
        .radiobutton
            margin-right: 30px
            display: inline-block
            &:last-child
                margin-right: 0
        input.input
            width: 150px
            vertical-align: top
            display: inline-block
        .datepicker
            width: 121px
            input
                width: 100%
        .multiple-select
            width: 100%
    .captcha
        float: right
        margin-left: 16px
        vertical-align: top
        display: inline-block
    & > .form-error
        padding-left: 30%

// form-error
.form-error
    color: $red
    font-size: 12px
    +f300
    display: block
    
input.input
    height: 32px
    border-radius: 3px
    border: 1px solid #c5c5c5
    padding: 0 8px
    +f300
    font-size: 14px
    width: 100%
    +transition(border-color .3s, box-shadow .3s)
    &::placeholder
        color: rgba(#000, 0.5)
    &:hover
        border-color: $green
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
    &.error
        border-color: red
    &.valid
        border-color: $green
.forgot-pass
    float: right
    font-size: 12px 
    color: #000
    text-decoration: underline
    &:hover
        text-decoration: none
        
.recovery
    position: relative
    .recovery__close
        position: absolute
        top: -20px
        right: -10px
        background: transparent 
        +s($close)

// captcha
.captcha
    position: relative
    padding-right: 25px
    vertical-align: top
    display: inline-block
    img
        display: block
    .captcha__code
        line-height: 1
        border: 1px solid #000
    .captcha__upd
        position: absolute
        top: 50%
        right: 0
        +translate(0, -50%)
        background-color: transparent
        +s($captcha-upd)

.datepicker
    position: relative
    display: block
    &:before
        position: absolute
        content: ''
        top: 8px
        right: 10px
        cursor: pointer
        +s($ico-datepicker)
    input
        width: 100%

// history
.history
    .history__but
        margin-bottom: 30px
        text-align: right
    .history__open
        position: relative
        padding-right: 16px
        color: #000
        +transition(color .3s)
        vertical-align: top
        display: inline-block
        &:before,
        &:after
            position: absolute
            content: ''
            top: 50%
            right: 0
            +translate(0,-50%)
            +transition(opacity .3s)
        &.is-active
            &:hover
                &:after
                    opacity: 0
                span
                    &:after
                        opacity: 1
                    &:before
                        opacity: 0 
            &:after
                opacity: 1
            &:before
                opacity: 0
        &:before
            +s($accord-arr)
        &:after
            opacity: 0
            +s($accord-arr-op)
        &:hover
            color: $second_h
            &:before
                opacity: 0
            span
                border-color: $second_h
                &:before
                    opacity: 1
        span
            border-bottom: 1px dotted #000
            +transition(border-color .3s)
            &:before,
            &:after
                position: absolute
                content: ''
                top: 50%
                right: 0
                z-index: 1
                +translate(0,-50%)
                +transition(opacity .3s)
            &:before
                opacity: 0
                +s($accord-arr-h)
            &:after
                opacity: 0
                +s($accord-arr-h-op)
    .history__filter
        margin-bottom: 20px
        padding: 0 234px 0 10px
    .sorting
        text-align: left
    table
        td
            vertical-align: top
            &:first-child
                width: 160px
            &:last-child
                text-align: right












