.cab
    +clr
    .cab__inf
        width: 550px
        p
            letter-spacing: -.4px
    .cab__buttons
        margin-top: 30px
.alt
    float: right
    width: 38%
    padding: 50px 30px 
    background: #f9edc1 
    .title-h3
        margin-bottom: 20px  
    ul
        margin-top: 20px
        margin-bottom: 35px
        li
            position: relative
            padding-left: 22px
            &:before
                content: ""
                position: absolute
                top: 11px
                left: 0
                width: 10px
                height: 1px
                background: #000 
    .btn
        margin-top: 35px
        padding-left: 18px
        padding-right: 18px
        display: block              
.btn_fill
    background: transparent
    color: $primary
    border: 1px solid $primary
    +tr(color 300ms)
    &:hover
        background: $primary
        color: #fff 
.login
    float: left
    width: 60%
    margin-right: 2%
    padding: 43px 30px
    border: 1px solid #c5c5c5
    .login__title
        margin-bottom: 32px
        padding-bottom: 20px
        border-bottom: 1px solid #dfdfdf  
        font-size: 24px
        +f500
        
.form
    position: relative
.form__row
    +clr
    display: block
    margin-bottom: 20px
.form__submit
    margin-top: 25px
    .btn
        width: 100% 
.form__in
    margin-bottom: 32px
    padding-bottom: 10px
    border-bottom: 1px solid $border-debr
    & + .form__submit
        margin-top: 50px
.is-blocked
    opacity: 0.3
    pointer-events: none             
.input
    +clr
    display: block
    & > p
        float: left
        width: 27% 
        margin-top: 3px
        +f700
        font-size: 14px
        color: #000
        span
            color: red
    & > input
        float: right
        width: 70%
        height: 32px
        border-radius: 3px
        border: 1px solid #c5c5c5
        padding: 0 12px
        +f300
        font-size: 14px
        +transition(border-color .3s, box-shadow .3s)
        &::placeholder
            color: rgba(#000, 0.5)
        &:hover
            border-color: $green
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
        &.error
            border-color: $red
            &:hover,
            &:focus
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(248, 52, 52, 0.15)
        &.valid
            border-color: $green
    .input__right
        float: right
        width: 70%
        line-height: 32px
        min-height: 32px
        +clr
        .radiobutton
            margin-right: 30px
            display: inline-block
            &:last-child
                margin-right: 0
        input.input
            width: 150px
            vertical-align: top
            display: inline-block
    .captcha
        float: right
        margin-left: 16px
        vertical-align: top
        display: inline-block
    & > .form-error
        padding-left: 30%

// form-error
.form-error
    color: $red
    font-size: 12px
    +f300
    display: block
    
input.input
    height: 32px
    border-radius: 3px
    border: 1px solid #c5c5c5
    padding: 0 12px
    +f300
    font-size: 14px
    width: 100%
    &::placeholder
        color: rgba(#000, 0.5)
    &:hover
        border-color: $green
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
    &.error
        border-color: red
    &.valid
        border-color: $green
.forgot-pass
    float: right
    font-size: 12px 
    color: #000
    text-decoration: underline
    &:hover
        text-decoration: none
        
.recovery
    position: relative
    .recovery__close
        position: absolute
        top: -20px
        right: -10px
        background: transparent 
        +s($close)

// captcha
.captcha
    position: relative
    padding-right: 25px
    vertical-align: top
    display: inline-block
    img
        display: block
    .captcha__code
        line-height: 1
        border: 1px solid #000
    .captcha__upd
        position: absolute
        top: 50%
        right: 0
        +translate(0, -50%)
        background-color: transparent
        +s($captcha-upd)















