.cab
    +clr
    &.cab_mod
        margin-top: 50px
        .login
            padding-bottom: 66px
        .alt
            ul
                margin-bottom: 26px
            .btn
                margin-top: 26px
    &.cab_dan
        margin-top: 15px
        .alt
            padding-top: 42px
            padding-bottom: 60px
            .title-h3
                line-height: 30px
                margin-bottom: 15px
            .btn
                margin-top: 24px
    .cab__inf
        width: 550px
        p
            letter-spacing: -.4px
    .cab__buttons
        margin-top: 30px
    .cab__print
        margin: 34px 0 15px
        text-align: right
    .cab__right
        float: right
        width: 37%
        .alt
            float: none
            padding: 44px 30px
            width: 100%
        .title-h3
            margin-bottom: 12px
    .info-brown
        margin-top: 52px
    table
        +r(1200)
            font-size: 12px
        tr
            border-bottom: 1px solid $border-td
            &:first-child
                text-align: left
        th
            padding: 7px 10px 19px 0
            font-weight: normal
        th,
        td
            min-width: 62px
            width: 12%
            vertical-align: top
            &:nth-child(2)
                width: 7%
            &:nth-child(3)
                padding-right: 15px
                min-width: 163px
                width: 32%
            &:nth-child(4)
                width: 13%
        td
            padding: 16px 0 23px
            &.is-yellow
                color: $yellow-table
            &.is-red
                color: $red
        a
            display: inline-block
        img
            margin-top: 4px
            display: block
        .sorting__item
            margin: 0 10px 0 -8px
            text-align: left
            line-height: 20px
            &:before
                bottom: 14px
        .article
            font-size: 12px

// repair
.repair
    overflow-x: auto
    overflow-y: visible
    width: 100%
    &.js-scroll
    &.is-doing
        table
            td, th
                min-width: 62px
                &:first-child
                    width: 20%
                &:nth-child(2)
                    width: 22%
                &:nth-child(3)
                    width: 5%
                &:nth-child(4)
                    width: 40%
                &:nth-child(5)
                    width: 13%
            td
                &:nth-child(4)
                    padding-right: 55px
    .jspContainer
        height: 100% !important
        width: 100% !important
    .jspPane
        position: relative !important
        height: 100% !important
        table
            th
                &:first-child
                    padding-left: 2px
                    .sorting__item
                        +transition(transform .3s)
                        &.is-active,
                        &.is-active-top
                            +translate(10px,0)
    table
        td
            width: 9%
            &:first-child
                padding-right: 5px
            &:nth-child(3),
            &:nth-child(2)
                &:hover
                    & + td
                        a
                            color: $red
                            text-decoration: none


.alt
    float: right
    width: 37%
    padding: 45px 30px 65px
    background: #f9edc1
    .alt__title
        margin-top: 5px
        font-size: 14px
        +f700
        &:first-child
            margin-top: 0
    .alt__head
        margin-top: -2px
        &.title-h3
            .link-black
                margin-top: 9px
    .alt__in
        p
            margin-top: 5px
            line-height: 30px
    .title-h3
        margin-bottom: 20px
        +clr
        .link-black
            position: relative
            float: right
            margin-top: 7px
            line-height: 1
            font-size: 12px
            border-bottom: none
            &:before
                position: absolute
                content: ''
                top: -10px
                left: -10px
                right: -10px
                bottom: -10px
    ul
        margin-top: 16px
        margin-bottom: 30px
        line-height: 30px
        li
            position: relative
            padding-left: 22px
            &:before
                content: ""
                position: absolute
                top: 11px
                left: 0
                width: 10px
                height: 1px
                background: #000
    .btn
        margin-top: 35px
        padding-left: 18px
        padding-right: 18px
        display: block
.login
    float: left
    width: 61%
    margin-right: 2%
    padding: 43px 30px 62px
    border: 1px solid #c5c5c5
    .login__title
        margin-bottom: 32px
        padding-bottom: 20px
        border-bottom: 1px solid #dfdfdf
        font-size: 24px
        +f500
        +clr
        .link-black
            float: right
            margin-top: 7px
            font-size: 12px
            line-height: 1

.order
    float: left
    width: 61%
    margin-right: 2%
    padding: 43px 30px 28px
    border: 1px solid #c5c5c5
    .order__title
        margin-bottom: 10px
        padding-bottom: 16px
        border-bottom: 1px solid #dfdfdf
        font-size: 24px
        +f500
        +clr
        .link-black
            position: relative
            float: right
            margin-top: 7px
            font-size: 12px
            line-height: 1
            &:before
                position: absolute
                content: ''
                top: -10px
                left: -10px
                right: -10px
                bottom: -10px
// reg
.reg
    width: 610px
    padding: 43px 30px
    border: 1px solid #c5c5c5
    border-radius: 1px
    .reg__title
        margin-bottom: 32px
        padding-bottom: 20px
        border-bottom: 1px solid #dfdfdf
        font-size: 24px
        +f500
    .input
        & > p
            width: 38%
        & > input
            width: 58%
        .input__right
            width: 58%
        & > .form-error
            padding-left: 42%

.form
    position: relative
.form__row
    +clr
    display: block
    margin-bottom: 20px
.form__submit
    margin-top: 25px
    &.form__submit_mod
        margin: 40px 0 20px
    .btn
        width: 100%
.form__in
    margin-bottom: 32px
    padding-bottom: 10px
    border-bottom: 1px solid $border-debr
    & + .form__submit
        margin-top: 50px
.form__add
    margin: 20px 0
    text-align: right
.form__chec
    margin-bottom: 40px
    line-height: 20px
    .checkbox
        vertical-align: top
        display: inline-block
        span
            padding-left: 26px
.add__rig
    position: relative
    padding-left: 14px
    color: #000
    font-size: 12px
    +f300
    +transition(color .3s, border-color .3s)
    &:hover
        color: $second_h
        text-decoration: none
        span
            border-color: transparent
    &:before
        position: absolute
        content: '+'
        top: 50%
        font-size: 17px
        left: 0
        +f700
        +translate(0,-50%)
    span
        border-bottom: 1px dotted #000
        +transition(border-color .3s)
.is-blocked
    opacity: 0.3
    pointer-events: none
.input
    +clr
    display: block
    & > p
        float: left
        width: 27%
        margin-top: 3px
        +f700
        font-size: 14px
        color: #000
        span
            color: #9b0101
    & > input,
    & > textarea
        float: right
        width: 70%
        height: 32px
        border-radius: 3px
        border: 1px solid #c5c5c5
        padding: 0 8px
        +f300
        font-size: 14px
        +transition(border-color .3s, box-shadow .3s)
        &::placeholder
            color: rgba(#000, 0.5)
        &:hover,
        &:focus
            border-color: $green
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
        &.error
            border-color: $red
            &:hover,
            &:focus
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(248, 52, 52, 0.15)
        &.valid
            border-color: $green
    & > textarea
        padding-top: 8px
        height: 154px
        resize: none
    .input__right
        float: right
        width: 70%
        line-height: 32px
        min-height: 32px
        +clr
        .radiobutton
            margin-right: 30px
            display: inline-block
            &:last-child
                margin-right: 0
        input.input
            width: 150px
            margin-right: 15px
            vertical-align: top
            display: inline-block
        .datepicker
            width: 121px
            input
                width: 100%
        .multiple-select
            width: 100%
    .captcha
        float: right
        vertical-align: top
        display: inline-block
        +r(1205)
            margin-top: 15px
            float: left
    & > .form-error
        padding-left: 30%
input[type="password"]
    &::placeholder
        line-height: 1.6
// form-error
.form-error
    color: $red
    font-size: 12px
    +f300
    display: block

input.input,
textarea.textarea
    height: 32px
    border-radius: 3px
    border: 1px solid #c5c5c5
    padding: 0 8px
    +f300
    font-size: 14px
    width: 100%
    +transition(border-color .3s, box-shadow .3s)
    &::placeholder
        color: rgba(#000, 0.5)
    &:hover,
    &:focus
        border-color: $green
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
    &.error
        border-color: red
    &.valid
        border-color: $green
textarea.textarea
    padding-top: 8px
    height: 154px
    resize: none

.input-border
    border-style: dotted !important
    &:hover,
    &:focus
        border-color: #c5c5c5 !important
        box-shadow: none !important

.forgot-pass
    float: right
    margin: 8px 0 13px
    font-size: 12px
    line-height: 1
    color: #000
    border-bottom: 1px solid rgba(#000, .7)
    +transition(color .3s, border-color .3s)
    &:hover
        color: $second_h
        border-color: transparent

.recovery
    position: relative
    .recovery__close
        position: absolute
        top: -20px
        right: -10px
        background: transparent
        +s($close)

// captcha
.captcha
    position: relative
    padding-right: 25px
    vertical-align: top
    display: inline-block
    img
        display: block
    .captcha__code
        line-height: 1
        border: 1px solid #000
    .captcha__upd
        position: absolute
        top: 50%
        right: 0
        margin-top: -8px
        background-color: transparent
        &:before
            position: absolute
            content: ''
            top: -5px
            left: -5px
            right: -5px
            bottom: -5px
        &:hover
            span
                &:before
                    opacity: 0
                &:after
                    opacity: 1
        span
            position: relative
            width: 14px
            height: 14px
            display: inline-block
            &:before,
            &:after
                position: absolute
                content: ''
                top: 0
                left: 0
                +transition(opacity .3s)
            &:before
                +s($captcha-upd)
            &:after
                opacity: 0
                +s($ico-update)

.datepicker
    position: relative
    display: block
    &.error
        .ico
            &:before
                opacity: 0
            &:after
                opacity: 1
        input
            border-color: $red
    &.valid
        input
            border-color: $green
    .ico
        position: absolute
        top: 8px
        right: 10px
        cursor: pointer
        &:hover
            & + input
                border-color: $green
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
    input
        width: 100%
        &.error
            + .ico
                &:before
                    opacity: 0
                &:after
                    opacity: 1
    .help-block
        white-space: nowrap

// history
.history
    .history__but
        margin-bottom: 30px
        text-align: right
    .history__open
        position: relative
        padding-right: 16px
        font-size: 12px
        color: #000
        +transition(color .3s)
        vertical-align: top
        display: inline-block
        &:hover
            color: $second_h
            &:before,
            &:after
                background: $second_h
            span
                border-color: transparent
        &:before,
        &:after
            position: absolute
            content: ''
            top: 50%
            right: 3px
            height: 6px
            width: 1px
            background: #000
            +translate(0,-50%)
            margin-top: -2px
            +transition(background .3s, transform .3s)
        &:before
            +rotate(44deg)
        &:after
            right: 7px
            +rotate(-44deg)
        &.is-active
            &:before
                +rotate(135deg)
            &:after
                +rotate(-135deg)

        span
            border-bottom: 1px dotted #000
            +transition(border-color .3s)
            &:before,
            &:after
                position: absolute
                content: ''
                top: 50%
                right: 0
                z-index: 1
                +translate(0,-50%)
                +transition(opacity .3s)
            &:before
                opacity: 0
                +s($accord-arr-h)
            &:after
                opacity: 0
                +s($accord-arr-h-op)
    .history__filter
        margin-bottom: 20px
        padding: 0 230px 0 5px
        .sorting__item
            margin-left: 0
        td
            padding-left: 3px
    .sorting
        text-align: left
    table
        td
            vertical-align: top
            &:first-child
                width: 165px
            &:last-child
                text-align: right
    .accordions
        .accord__but
            padding: 12px 44px 9px 17px
        .accord__block
            position: relative
            padding-top: 0
            top: -9px
            .accord__right
                margin-top: 15px
            .link-green, .title-h3 .link-green
                line-height: 20px
            .link-green
                position: relative
                font-size: 12px
                +f500
                display: inline-block
                &:before
                    top: -10px
                    left: -10px
                    right: -10px
                    bottom: -10px
            table td
                padding-bottom: 9px












