.btn
	display: inline-block
	vertical-align: middle
	padding: 13px 43px 12px 
	min-width: 192px
	background: $primary
	border-radius: 3px
	text-align: center
	font-size: 13px
	line-height: 1
	+f900
	text-transform: uppercase
	color: #fff
	+tr(background .3s)
	&:hover
		text-decoration: none
		background: $primary_h
	&:active
		background: $primary_a
	&[disabled],
	&.is-disabled
		opacity: 0.1
		cursor: default
		pointer-events: none
	.ico_add
		margin-right: 5px
.btn_border
	background: #fff
	border: 1px solid $primary
	color: $primary 
	&:hover
		color: #fff
		border-color: $primary_h
	&:active
		color: #fff 
		border-color: $primary
.btn_small
	padding: 10px 20px
	min-width: 175px
	max-height: 32px
	+f300
	font-size: 13px
	text-transform: none
.btn_white
	background: #fff
	+f700
	color: #000 
	&:hover
		color: #fff
	&:active
		color: #fff
.btn_fill
    background: transparent
    color: $primary
    border: 1px solid $primary
    +tr(color .3s)
    &:hover
        background: $primary_h
        color: #fff 
    &:active
        background: $primary_a
.btn_share
	position: relative
	padding: 10px 15px 10px 34px
	@extend .btn_white
	@extend .btn_small
	min-width: 130px
	+f300
	+box
	&:hover
		&:before,
			opacity: 0
		&:after
			opacity: 1
	&:before,
	&:after
		position: absolute
		content: ''
		top: 50%
		left: 10px
		+transition(opacity .3s)
		+translate(0,-50%)
	&:before
		+s($ico-share)
	&:after
		opacity: 0
		+s($ico-share-hov)
.btn_topic
	@extend .btn_share
	padding-left: 48px
	&:hover
		.ico
			&:before,
				opacity: 0
			&:after
				opacity: 1
	&:before,
	&:after
		display: none
	.ico
		position: absolute
		content: ''
		top: 50%
		left: 10px
		+translate(0,-50%)
		&:before,
		&:after
			+transition(opacity .3s)
		&:after
			opacity: 0
.btn_dark
	color: #000

// btn-search
.btn-search
	position: absolute 
	top: 46px
	right: 24px
	height: 19px
	width: 19px
	background-color: transparent
	display: inline-block
	&:before,
	&:after
		position: absolute
		content: ''
		top: 0
		left: 0
		+transition(opacity .2s linear)
	&:before
		+s($ico-search-gray)
	&:after
		opacity: 0
		+s($ico-search-hov)
	&:hover
		&:before
			opacity: 0
		&:after
			opacity: 1
	span
		position: absolute
		top: -35px
		left: -30px
		right: -24px
		bottom: -30px

.btn-search-white
	@extend .btn-search
	top: 35px
	right: 0
	&:before
		+s($ico-search-white)
	&:after
		left: -20px
		right: -20px
		top: -20px
		bottom: -20px
		width: auto
		height: auto
		background: none
	&:hover
		&:before
			opacity: 1

.btn_basket
	padding: 7px 12px
	min-width: auto

.btn-clear
	position: relative
	color: #000
	margin-top: 10px
	padding-left: 20px
	font-size: 13px
	+f300
	+transition(color .3s)
	background-color: transparent
	&:disabled
		opacity: .5
		&:hover
			color: #000
			cursor: default
			&:before
				opacity: 1
			&:after
				opacity: 0
			span
				border-color: #000
	&:before,
	&:after
		position: absolute
		content: ''
		top: 50%
		left: 0
		margin-top: -6px
		+transition(opacity .3s)
	&:before
		+s($x)
	&:after
		opacity: 0
		+s($x-h)
	&:hover
		color: $second_h
		&:before
			opacity: 0
		&:after
			opacity: 1
		span
			border-color: transparent
	span
		border-bottom: 1px dotted #000
		+transition(border-color .3s)

.btn_ico
	text-transform: initial
	font-size: 13px
	min-width: 130px
	+f300
	&:hover
		.ico
			&:before
				opacity: 0
			&:after
				opacity: 1
	.ico
		margin-top: -3px
		margin-right: 8px
		vertical-align: middle
		+transition(opacity .3s)

.btn-delete
	position: relative
	width: 11px
	height: 12px
	background: transparent
	display: inline-block
	&:hover
		&:before
			opacity: 0
		&:after
			opacity: 1
	&:before,
	&:after
		position: absolute
		content: ''
		top: 0
		left: 0
		+transition(opacity .3s)
	&:before
		+s($ico-delete)
	&:after
		opacity: 0
		+s($ico-delete-h)
	span
		position: absolute
		content: ''
		top: -5px
		left: -5px
		right: -5px
		bottom: -5px

.btn-open
	position: static
	color: #000
	font-size: 12px
	+transition(color .3s)
	vertical-align: top
	display: inline-block
	background: transparent
	&.btn-open_white
		color: #fff
		opacity: .6
		+transition(opacity .3s)
		span
			border-color: #fff
			&:before,
			&:after
				background: #fff
		&:hover
			opacity: 1
			color: #fff
			span
				border-color: transparent
				&:before,
				&:after
					background: #fff
		&.is-active
			&:hover
				color: #fff
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		bottom: 0
		right: 0
	&:hover
		color: $second_h
		span
			border-color: transparent
			&:before,
			&:after
				background: $second_h
	&.is-active
		&:hover
			color: $second_h
		span
			&:before
				+rotate(135deg)
			&:after
				+rotate(-135deg)
	span
		position: relative
		border-bottom: 1px dotted #000
		+transition(border-color .3s)
		&:before,
		&:after
			position: absolute
			content: ''
			top: 50%
			right: -12px
			height: 6px
			width: 1px
			background: #000
			margin-top: -2px
			+transition(background .3s, transform .3s)
		&:before
			+rotate(44deg)
		&:after
			right: -8px
			+rotate(-44deg)
	.icon
		position: absolute
		top: 50%
		right: 0
		font-size: 13px
		+translate(0,-50%)

.btn-reest
	position: relative
	font-size: 13px
	+transition(color .3s)
	background: transparent
	display: inline-block
	&:before
		position: absolute
		content: ''
		top: -5px
		left: -5px
		right: -5px
		bottom: -5px
	&:hover
		color: $second_h

.u-turn
	vertical-align: middle
	opacity: .5
	+transition(opacity .3s, transform .3s)
	background-color: transparent
	+s($u-turn)
	display: inline-block
	&:hover
		opacity: 1
	&.is-active
		+rotate(180deg)

.l-layout
	display: table
	width: 100%
	table-layout: fixed
	background: #fff 
	&.is-contact
		.topic__in,
		.wrapper
			padding-left: 292px
.sidebar
	display: table-cell
	vertical-align: top
	width: 250px
	background: $bg-sidebar
.main
	display: table-cell
	vertical-align: top
	background: #fff 
	
.title-h1
	margin-bottom: 22px
	font-size: 34px
	line-height: 1.35
	font-weight: normal
	+f700
.title-h2
	margin-bottom: 22px
	font-size: 24px
	line-height: 1.9
	font-weight: normal
	+f500
	+clr
	&.is-green
		color: $green
	a
		color: $second
		border-bottom: 1px solid
		+transition(color .2s, border-color .2s)
		// &:visited
		// 	color: $second_a
		// 	border-color: $second_a
		&:hover
			color: $second_h
			border-color: transparent
		&:active
			color: $second_a
			border-color: transparent  
	& + p
		margin-top: -10px
	& + .wrapper__left-t
		margin-top: -11px
	.link-black
		margin-top: 14px
		float: right
		line-height: 1
		text-decoration: none
.title-h3
	margin-bottom: 22px
	font-size: 18px
	font-weight: normal
	+f700
	a
		color: $second
		border-bottom: 1px solid
		+transition(color .2s, border-color .2s)
		&:hover
			color: $second_h
			border-color: transparent
		&:active
			color: $second_a
			border-color: transparent 
	.link-green
		@extend .link-green
		text-decoration: none !important
.title-h4
	margin-bottom: 22px
	line-height: 1.9
	font-size: 16px
	font-weight: normal
	+f700
	a
		color: #000
		border-bottom: 1px solid
		transition: color .3s, border .3s
		&:hover
			color: $primary_h
			border-color: transparent
		&:active
			color: $primary_a
			border-color: transparent 
.title-h5
	margin-bottom: 22px
	font-size: 14px
	font-weight: normal
	+f500
	a
		color: #000
		border-bottom: 1px solid
		transition: color .3s, border .3s
		&:hover
			color: $primary_h
			border-color: transparent
		&:active
			color: $primary_a
			border-color: transparent 
.title-h6
	margin-bottom: 22px
	font-size: 12px
	font-weight: normal
	+f500
.title-green
	position: relative
	padding-bottom: 20px
	font-size: 16px
	line-height: 24px
	+f700
	display: inline-block
	&:before
		position: absolute
		content: ''
		left: 0
		bottom: 0
		height: 3px
		width: 136px
		background: $green

// select
.select
	position: relative
	cursor: pointer
	font-size: 13px
	select
		position: absolute
		opacity: 0
	&.is-active
		.select__text
			border-radius: 3px 3px 0 0
.select__text
	position: relative
	padding: 0 20px 0 10px 
	height: 32px
	min-width: 211px
	line-height: 32px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	border-radius: 3px
	border: 1px solid $border-filter
	display: block
	&:before,
	&:after
		content: ""
		position: absolute
		right: 10px
		margin-top: -3px
	&:before
		top: 11px
		+arr(5,4,$border-filter,t)
	&:after
		bottom: 9px
		+arr(5,4,$border-filter,b)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 100
	border: 1px solid $border-filter
	border-top: 0 
	max-height: 200px
	overflow-x: hidden
	overflow-y: auto
	border-radius: 0 0 3px 3px
	background: #fff
	li
		padding: 5px 11px 
		cursor: pointer
		line-height: 1
		&:hover
			background: $green
			color: #fff
		
// multiple-select
.multiple-select
	min-width: 211px
	.ms-choice
		padding-left: 9px
		height: 32px
		border: 1px solid $border-filter
		font-size: 13px
		+f300
		+transition(border-color .3s, box-shadow .3s)
		&:hover,
		&.is-active
			border-color: $green
			border-radius: 3px
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.15)
			& > div
				&:before
					top: 12px
					+arr(5,4,$green,t)
				&:after
					bottom: 10px
					+arr(5,4,$green,b)
		&:active
			border-color: $primary_a
			& > div
				&:before
					top: 12px
					+arr(5,4,$primary_a,t)
				&:after
					bottom: 10px
					+arr(5,4,$primary_a,b)
		& > div
			height: 100%
			&:before,
			&:after
				content: ""
				position: absolute
				right: 10px
				margin-top: -3px
				+transition(border-color .3s, box-shadow .3s)
			&:before
				top: 12px
				+arr(5,4,$border-filter,t)
			&:after
				bottom: 10px
				+arr(5,4,$border-filter,b)
		& > span
			padding-left: 9px
			line-height: 32px
	.ms-drop.bottom
		margin-top: 11px
		border: none
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.23)
		border-radius: 0
		ul
			padding: 0
		li.selected
			+f700
			label
				&:before
					display: block
		label
			position: relative
			padding: 5px 9px
			cursor: pointer
			+transition(background .3s)
			&:hover
				background: rgba($green, .1)
			&:before
				position: absolute
				content: ''
				right: 10px
				top: 50%
				+translate(0,-50%)
				+s($checkbox-arr)
				display: none
			input
				position: absolute
				right: 10px
				top: 50%
				opacity: 0
				z-index: 2

// radiobutton checkbox
.radiobutton,
.checkbox
	position: relative
	line-height: 24px
	font-size: 13px
	cursor: pointer
	user-select: none
	display: block
	&:hover
		span:before
			border-color: #0b9a42
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 8px rgba(11, 154, 66, 0.59)
	input,
	span:before
		position: absolute
		top: 3px
		left: 0
		height: 16px
		width: 16px
	input
		z-index: 2
		opacity: 0
		cursor: pointer
		&:checked
			& + span
				&:before
					border-color: $bord-green-rad
				&:after
					display: block
	span
		position: relative
		padding-left: 30px
		display: block
		&:before
			content: ''
			border: 1px solid $bord-rad
			border-radius: 50%
			+transition(border-color .3s, box-shadow .3s)
			+box
			background: #fff
		&:after
			position: absolute
			content: ''
			display: none
.radiobutton
	span
		&:after
			top: 8px
			left: 5px
			height: 6px
			width: 6px
			border-radius: 50%
			background: $bg-rad

.checkbox
	input,
	span:before
		top: 3px
		left: 0
	span
		&:before
			border-color: $border-checkbox
			border-radius: 3px
			+box
		&:after
			top: 7px
			left: 2px
			+s($checkbox-arr)

// wrapper
.wrapper
	padding: 30px 45px 70px 44px
	line-height: 24px
	.wrapper__inner
		margin-top: 48px
		padding-right: 70px
	.title-h2
		margin: 40px 0 22px
		&:first-child
			margin-top: 0
	.wrapper__top
		position: relative
		.checkbox
			position: absolute
			top: 12px
			right: 0
	.wrapper__left-t
		padding-right: 305px
		+r(1180)
			padding-right: 0
	.wrapper__map
		position: relative
		margin-left: -230px
		&:after
			position: absolute
			content: ''
			left: -30px
			right: -30px
			bottom: -122px
			height: 324px
			background: url(../img/map-chad.png) no-repeat 0 -5px
			background-size: 100% 100%
		.map
			z-index: 1
	.debr
		padding: 10px 0 46px 0
		border-top: none
		& + .debr
			margin-top: 22px
		.title-h4
			&:first-child
				margin-top: 0
		.btn
			margin-top: 13px
		[class^="col-md"], [class*=" col-md"]
			padding-right: 27px
		.radiobutton
			margin: 8px 0

.list
	margin: 20px 0
	li
		position: relative
		padding-left: 20px
		line-height: 30px
		&:before
			position: absolute
			content: ''
			top: 14px
			left: 0
			height: 1px
			width: 9px
			background: $green

// badge
.badge
	padding: 2px 9px
	color: #fff
	font-size: 13px
	vertical-align: top
	line-height: 1.4
	opacity: 0.8
	border-radius: 3px
	display: inline-block
	&_red
		background-color: $red
	&_yellow
		background-color: $yeloow
	&_blue
		background-color: $light-blue
	&_orange
		background-color: $orange
	&_green
		background-color: $green

a.badge
	+transition(opacity .3s)
	&:hover
		opacity: 1

// breadcrumbs
.breadcrumbs
	+f300
	font-size: 12px
	color: #fff
	li
		position: relative
		padding-right: 20px
		line-height: 22px
		color: rgba(#fff, .5)
		display: inline-block
		+transition(color .3s)
		&:hover
			color: #fff
		&:last-child
			padding-right: 0
			&:before
				display: none
		&:before
			position: absolute
			top: 0
			right: 5px
			content: '/'
			opacity: .5
		a
			color: rgba(#fff, .5)
			+transition(color .3s)
			&:hover
				color: $second_h

// read-more
.read-more-wrap
	+clr
	.read-more
		float: left
		width: 50%
		& + .read-more
			margin-top: 0
	& + .read-more
		margin-top: 66px
		
.read-more
	position: relative
	height: 168px
	color: #fff
	+f700
	+font-smoothing(antialiased)
	+box
	background-size: cover
	background-repeat: no-repeat
	display: block
	+vertical
	&:hover
		&:after
			background-color: rgba(0, 47, 18, 0.9)
		.link-right,
		.link-left
				color: $second_h
		.link-right
			&:after
				+translate(9px,0)
				+s($ico-l-right-h)
		.link-left
			&:before
				+translate(-9px,0)
				+s($ico-l-left-h)
	&:after
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0, 47, 18, 0.8)
		+transition(background-color .2s)
	& + .read-more
		margin-top: 66px
	.read-more__wrap
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+clr
	.read-more__in
		position: relative
		font-size: 18px
		z-index: 2
		vertical-align: middle
		display: inline-block
	.read-more__text
		opacity: .5
		vertical-align: top
		display: inline-block
	.read-more__left,
	.read-more__right
		float: left
		padding: 0 100px
		width: 50%
		height: 168px
		background-size: cover
		background-repeat: no-repeat
		+box
		+vertical

// links
.link-green
	color: $green
	line-height: 24px
	text-decoration: underline
	+transition(color .1s, border-color .1s)
	&.is-dot
		text-decoration: none
		border-bottom: 1px dotted $green
		// &:visited
		// 	border-color: $second_a
		&:hover
			border-color: transparent
	// &:visited
	// 	color: $second_a
	&:hover
		color: $second_h
		text-decoration: none

.link-right,
.link-left
	position: relative
	color: $green
	text-decoration: underline
	+transition(color .2s)
	&:hover
		color: $second_h
	&:after,
	&:before
		content: ''
		margin-bottom: -2px
		display: inline-block
		+transition(transform .2s)
.link-right
	margin-left: 5px
	padding-right: 12px
	&:hover
		&:after
			+translate(4px,0)
			+s($r-m-right-arr-red)
	&:after
		position: relative
		margin-left: 4px
		+s($arr-green-right)
.link-left
	margin-right: 5px
	padding-left: 12px
	&:hover
		&:before
			+translate(-4px,0)
			+s($ico-l-left-h)
	&:before
		position: relative
		margin-right: 4px
		+s($ico-l-left)

.link-black
	color: #000
	font-size: 13px
	line-height: 36px
	text-decoration: underline
	+transition(color .2s)
	+f300
	&:link
		color: #000
	// &:visited
	// 	color: $second_a
	&:hover
		color: $second_h
		text-decoration: none

// link-white
.link-white
	position: relative
	margin-right: 15px
	color: #fff
	opacity: .6
	line-height: 1.1
	vertical-align: top
	text-decoration: none
	border-bottom: 1px dotted #fff
	+transition(opacity .3s)
	background: transparent
	display: inline-block
	&:hover
		opacity: 1
		border-color: transparent
	&.is-active
		&:before
			+rotate(135deg)
		&:after
			+rotate(-135deg)
	&:before,
	&:after
		position: absolute
		content: ''
		top: 50%
		right: -13px
		height: 6px
		width: 1px
		background: #fff
		margin-top: -2px
		+translate(0,-50%)
		+transition(transform .3s)
	&:before
		+rotate(44deg)
	&:after
		right: -9px
		+rotate(-44deg)

// dct-link
.dct-link
	position: relative
	padding: 3px 0 0 33px
	line-height: 24px
	color: #000
	text-decoration: underline
	+transition(color .2s)
	vertical-align: top
	display: inline-block
	// &:visited
	// 	color: $second_a
	&:before
		position: absolute
		content: ''
		top: -10px
		left: -10px
		right: -10px
		bottom: -10px
	&:hover
		color: $second_h
		text-decoration: none
		.ico
			&:before
				opacity: 0
			&:after
				opacity: 1
	.ico
		position: absolute
		top: 0
		left: 0
		
// address-link
.address-link
	position: relative
	padding-left: 21px
	line-height: 24px
	color: #000
	vertical-align: top
	display: inline-block
	+transition(color .3s)
	&:before,
	&:after
		position: absolute
		content: ''
		top: 2px
		left: 0
		+transition(opacity .3s)
	&:before
		+s($ico-address)
	&:after
		opacity: 0
		+s($ico-address-h)
a.address-link
	&:hover
		color: $second_h
		&:before
			opacity: 0
		&:after
			opacity: 1

.print-link
	position: relative
	padding-left: 20px
	color: $green
	+transition(color .3s)
	.ico
		position: absolute
		content: ''
		top: 50%
		left: 0
		+translate(0,-50%)
		+s($ico-print)
	&:after
		position: absolute
		content: ''
		top: -20px
		left: -20px
		right: -20px
		bottom: -20px
	&:hover
		color: $second_h
		span
			border-color: transparent
		.ico
			&:before
				opacity: 0
			&:after
				opacity: 1
	span
		border-bottom: 1px solid $green
		+transition(border-color .3s)

// drop
.drop
	position: relative
	&.is-active
		.btn
			background: $green
			@extend .btn_share:hover
	.drop__list
		position: absolute
		content: ''
		top: 100%
		left: 50%
		+translate(-50%,0)
		margin-top: 10px
		padding: 7px 13px
		min-width: 130px
		font-size: 13px
		z-index: 10
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.23)
		background: #fff
		display: none
		li
			margin: 3px 0
		a
			position: relative
			padding: 3px 0 3px 25px
			color: #000
			display: block
		.ico
			position: absolute
			top: 50%
			left: 0
			+translate(0,-50%)
// field
.field
	margin: 22px 0 15px
	+clr
	.field__text
		overflow: hidden
	.title-h3
		margin-top: -5px
		line-height: 30px
	img
		float: left
		margin: 0 30px 20px 0

// date
.date
	color: #000
	font-size: 13px
	+opacity(0.5)
	+f300
	display: inline-block

// tag
.tag
	margin-right: 15px
	font-size: 13px
	color: #000
	display: inline-block

// news
.news
	margin: 45px 0 30px

.accordions
	&.is-mod,
	&.is-address
		.accord
			padding: 0
			&:before
				position: absolute
				content: ''
				top: -1px
				left: 0
				right: 0
				height: 1px
				z-index: 1
				background: transparent
				+transition(background .3s)
			&:first-child
				border-top: 1px solid $border
			&.is-active
				position: relative
				border-color: $green
				z-index: 1
				&:before
					background: $green
			.accord__table
				margin-top: -7px
		.accord__but
			padding: 18px 44px 18px 17px
			+transition(background .3s)
			&:before
				right: 17px
			&:after
				right: 21px
			&:hover
				background: $accord-bg-h
			table
				overflow: hidden
			.price
				+f500
		.accord__block
			padding: 6px 44px 10px 20px
			table
				td
					position: relative
					padding: 10px 0
					line-height: 20px
					&:first-child
						width: 87px
					&:last-child
						width: 195px
				.price
					position: absolute
					right: 0
					bottom: 10px
					font-size: 12px
					opacity: .5
		.accord__left
			overflow: hidden
		.accord__right
			float: right
			width: 175px
			margin-left: 15px
		.btn_ico
			min-width: 175px
		table
			tr
				border-top: 1px solid $border-debr
				&:first-child
					border-top: none
			td
				line-height: 32px
				&:first-child
					width: 160px
	&.is-mod
		.accord
			&.is-active
				.accord__but
					&:hover
						background: transparent
	&.is-address
		margin-bottom: 10px
		.accord__block
			padding: 0
			.accord__table
				padding-top: 3px
		table
			width: 100%
		td,
		.accord__block table td,
		.accord__block table td:first-child,
		.accord__block table td:last-child
			padding: 0 0 0 20px
			width: 33.3%
			vertical-align: top
			&:first-child
				padding-left: 0
			&:nth-child(2)
				width: 39%
			&:last-child
				width: 28%
		.address-link
			vertical-align: middle
		.accord
			+transition(background .3s)
			&.is-active
				.accord__but
					background: $accord-bg-address
		.accord__block
			background: $accord-bg-address
		.accord__but
			&:hover
				.address-link
					color: $second_h
					&:before
						opacity: 0
					&:after
						opacity: 1
		.accord__hidden
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: -68px
			z-index: 1
	&.is-contact
		.accord 
			padding-bottom: 0
			border-bottom: none
			.accord__but
				&:before,
				&:after
					display: none
	.accordions__wrap
		margin-top: 35px

// accord
.accord
	padding: 20px 0 28px
	border-bottom: 1px solid $border
	+transition(border-color .3s)
	&.is-active
		.accord__title
			color: #000
		.accord__but
			&:before
				background: $green
				+rotate(135deg)
			&:after
				background: $green
				+rotate(-135deg)
	.accord__but
		position: relative
		padding-right: 170px
		cursor: pointer
		&:hover
			&:before,
			&:after
				background: $second_h
			.accord__title
				color: $second_h
		&:before,
		&:after
			position: absolute
			content: ''
			top: 50%
			right: 3px
			height: 6px
			width: 1px
			background: #000
			+translate(0,-50%)
			+transition(background .3s, transform .3s)
		&:before
			+rotate(44deg)
		&:after
			right: 7px
			+rotate(-44deg)
	.accord__title
		color: $green
		font-size: 18px
		line-height: 30px
		user-select: none
		+transition(color .3s)
		border-bottom: 1px dotted $green
		+font-smoothing(antialiased)
		+f500
		display: inline
	.accord__inf
		margin-left: 16px
		color: #000
		font-size: 13px
		opacity: 0.5
		line-height: 24px
		display: inline-block
	.accord__block
		padding-top: 20px
		display: none
		.title-h4
			margin: 13px 0 0px
			&:first-child
				margin-top: 0
	.accord__wrap
		+clr
	.accord__table
		padding: 0 44px 20px 22px
	.list
		margin: 3px 0 16px
		padding-right: 270px
		letter-spacing: .35px
		li
			line-height: 28px
	.info-brown
		margin: 30px 0 10px
// tags
.tags
	margin: 38px 0 30px
	font-size: 0
	overflow: hidden
	.tags__in
		margin: 0 -11px -10px 0
	.tally
		margin: 0 11px 10px 0

// tally
.tally
	position: relative
	padding: 4px 32px 4px 10px
	font-size: 13px
	color: #fff
	+font-smoothing(antialiased)
	+f500
	border-radius: 3px
	vertical-align: top
	background: $green
	display: inline-block
	.tally__close
		position: absolute
		top: 50%
		right: 11px
		opacity: .5
		margin-top: -6px
		+transition(opacity .3s)
		background: transparent
		+s($balloon-close-button)
		&:hover
			opacity: 1

// table
.table
	tr
		&:nth-child(odd)
			background: $light-gray
	td
		padding: 10px 15px 10px 18px
		line-height: 24px

// updated
.updated
	color: #000
	opacity: .5
	&.is-green
		opacity: 1
		color: $green
	&.is-yellow
		opacity: 1
		color: $yellow-table

// phone timetable warning
.phone,
.timetable,
.warning
	position: relative
	padding-left: 24px
	line-height: 24px
	&:before
		position: absolute
		content: ''
		top: 4px
		left: 0
	p
		margin-top: 0

.phone
	&:before
		+s($ico-phone-green)
.timetable
	&:before
		+s($ico-timetable)
	sup
		font-size: 7px
		line-height: 2.7
		vertical-align: top
.warning
	color: $red
	&:before
		+s($ico-warning)

// schedule
.schedule
	sup
		line-height: 2.2
		font-size: 8px
		vertical-align: top
	span
		opacity: .5

// address
.address
	font-size: 16px
	font-style: normal

.print-block
	margin-left: -240px
	text-align: center

// requisites
.requisites
	margin: 45px 0 15px
	padding: 25px 0 45px
	border-top: 1px solid $border-comment
	border-bottom: 1px solid $border-comment
	p
		margin-top: 0
	.row
		margin-top: 26px
		&:first-child
			margin-top: 0
	.quote
		line-height: 20px

.page-404
	width: 554px
	.page-404__text
		margin-left: -14px
		font-size: 300px
		+f700
		line-height: 0.9
		letter-spacing: 8px
		color: $border-comment
	.quote
		padding-right: 30px

// quote
.quote
	font-size: 16px
	line-height: 30px
	a
		font-size: inherit

// caption
.caption
	font-size: 12px
	line-height: 24px

// is-hide
.is-hide
	position: relative
	width: 0
	height: 0
	overflow: hidden
	z-index: -1

// js-hide
.js-hide
	display: none