.btn
	display: inline-block
	vertical-align: middle
	padding: 13px 43px 12px 
	min-width: 192px
	background: $primary
	border-radius: 3px
	text-align: center
	font-size: 13px
	line-height: 1
	+f900
	text-transform: uppercase
	color: #fff
	+tr(background .3s)
	&:hover
		background: $primary_h
	&:active
		background: $primary_a
	&[disabled],
	&.is-disabled
		opacity: 0.1
		cursor: default
		pointer-events: none
.btn_border
	background: #fff
	border: 1px solid $primary
	color: $primary 
	&:hover
		color: #fff
	&:active
		color: #fff 
.btn_small
	padding: 10px 20px
	min-width: 175px
	max-height: 32px
	+f300
	font-size: 13px
	text-transform: none
.btn_white
	background: #fff
	+f700
	color: #000 
	&:hover
		color: #fff
	&:active
		color: #fff
.btn_icon
	position: relative
	padding: 10px 15px 10px 34px
	@extend .btn_white
	@extend .btn_small
	min-width: 130px
	+f300
	+box
	.ico
		position: absolute
		top: 50%
		left: 10px
		+translate(0,-50%)
.btn_basket
	padding: 7px 12px
	min-width: auto
.l-layout
	display: table
	width: 100%
	table-layout: fixed
	background: #fff 
.sidebar
	display: table-cell
	vertical-align: top
	width: 250px
	background: $bg-sidebar
.main
	display: table-cell
	vertical-align: top
	background: #fff 
	
.title-h1
	font-size: 34px
	line-height: 1.35
	font-weight: normal
	+f700
.title-h2
	font-size: 24px
	line-height: 1.9
	font-weight: normal
	+f500
.title-h3
	font-size: 18px
	font-weight: normal
	+f700
	a
		color: $primary
		border-bottom: 1px solid
		transition: color .3s, border .3s
		&:hover
			color: $primary_h
			border-color: transparent
		&:active
			color: $primary_a
			border-color: transparent  
.title-h4
	line-height: 1.9
	font-size: 16px
	font-weight: normal
	+f700
	a
		color: #000
		border-bottom: 1px solid
		transition: color .3s, border .3s
		&:hover
			color: $primary_h
			border-color: transparent
		&:active
			color: $primary_a
			border-color: transparent 
.title-h5
	font-size: 14px
	font-weight: normal
	+f500
	a
		color: #000
		border-bottom: 1px solid
		transition: color .3s, border .3s
		&:hover
			color: $primary_h
			border-color: transparent
		&:active
			color: $primary_a
			border-color: transparent 
.title-h6
	font-size: 12px
	font-weight: normal
	+f500
.title-green
	position: relative
	padding-bottom: 20px
	font-size: 16px
	line-height: 24px
	+f700
	display: inline-block
	&:before
		position: absolute
		content: ''
		left: 0
		right: 0
		bottom: 0
		height: 3px
		background: $green

.select
	position: relative
	cursor: pointer
	font-size: 13px
	select
		position: absolute
		opacity: 0
	&.is-active
		.select__text
			border-radius: 3px 3px 0 0
.select__text
	position: relative
	padding: 0 20px 0 10px 
	height: 32px
	min-width: 211px
	line-height: 32px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	border-radius: 3px
	border: 1px solid $border-filter
	display: block
	&:before
		content: ""
		position: absolute
		right: 10px
		top: 11px
		margin-top: -3px
		+arr(5,4,$border-filter,t)
	&:after
		content: ""
		position: absolute
		right: 10px
		bottom: 9px
		margin-top: -3px
		+arr(5,4,$border-filter,b)
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	z-index: 100
	border: 1px solid $border-filter
	border-top: 0 
	max-height: 200px
	overflow-x: hidden
	overflow-y: auto
	border-radius: 0 0 3px 3px
	background: #fff
	li
		padding: 5px 11px 
		cursor: pointer
		line-height: 1
		&:hover
			background: $green
			color: #fff

// radiobutton checkbox
.radiobutton,
.checkbox
	position: relative
	line-height: 24px
	font-size: 13px
	cursor: pointer
	user-select: none
	display: block
	input,
	span:before
		position: absolute
		top: 3px
		left: 0
		height: 16px
		width: 16px
	input
		z-index: 2
		opacity: 0
		&:checked
			& + span
				&:before
					border-color: $bord-green-rad
				&:after
					display: block
	span
		position: relative
		padding-left: 30px
		display: block
		&:before
			content: ''
			border: 1px solid $bord-rad
			border-radius: 50%
			+box
		&:after
			position: absolute
			content: ''
			top: 8px
			left: 5px
			height: 6px
			width: 6px
			border-radius: 50%
			background: $bg-rad
			display: none

.checkbox
	input,
	span:before
		top: 3px
		left: 0
	span
		&:before
			border-color: $border-checkbox
			border-radius: 3px
			+box

// wrapper
.wrapper
	padding: 30px 45px 30px 44px
	.title-h2
		margin: 35px 0 22px

// badge
.badge
	padding: 2px 9px
	color: #fff
	font-size: 13px
	vertical-align: top
	line-height: 1.4
	opacity: 0.8
	border-radius: 3px
	display: inline-block
	&_red
		background-color: $red
	&_yellow
		background-color: $yeloow
	&_blue
		background-color: $light-blue
	&_orange
		background-color: $orange

// breadcrumbs
.breadcrumbs
	+f300
	font-size: 12px
	color: #fff
	opacity: .5
	li
		position: relative
		padding: 0 10px
		display: inline-block
		&:first-child
			padding-left: 0
			&:before
				display: none
		&:before
			position: absolute
			top: 0
			left: -3px
			content: '/'
		a
			color: #fff
			&:hover
				text-decoration: underline

// link-right link-left
.link-right,
.link-left
	position: relative
	color: $green
	text-decoration: underline
	&:hover
		text-decoration: none
	&:before
		position: absolute
		content: ''
		top: 50%
		+translate(0,-50%)
.link-right
	margin-left: 5px
	padding-right: 12px
	&:before
		right: 0
		+s($ico-l-right)
.link-left
	margin-right: 5px
	padding-left: 12px
	&:before
		left: 0
		+s($ico-l-left)