// header
.header
	position: relative
	margin-bottom: 15px
	padding: 0 30px
	background: #fff
	+box
	+clr
	.header__left
		float: left
		margin-top: 35px
	.popup
		vertical-align: top
		.popup__in
			padding: 0
			vertical-align: top
			background: transparent
		.popup__close
			top: 40px
			right: 30px

// btm-menu
.btm-menu
	position: relative
	padding-left: 30px
	margin-top: 3px
	height: 16px
	font-size: 16px
	line-height: 1
	vertical-align: top
	background-color: transparent
	display: block
	+transition(color .3s linear)
	&:hover
		color: $second_h
		.ico
			background-color: $second_h
			&:before,
			&:after
				background-color: $second_h
			&:before
				bottom: -7px
			&:after
				top: -7px
	&:before
		position: absolute
		content: ''
		top: -30px
		left: -30px
		right: -30px
		bottom: -29px
	.ico
		position: absolute
		left: 0
		top: 50%
		height: 2px
		width: 17px
		+translate(0, -50%)
		background-color: $green
		+transition(background-color .3s)
		&:before,
		&:after
			position: absolute
			content: ''
			left: 0
			height: 2px
			width: 17px
			background-color: $green
			+transition(background-color .3s, bottom .3s, top .3s)
		&:before
			bottom: -4px
		&:after
			top: -4px

// logo
.logo
	float: left
	margin: 5px 0 0 160px
	+s($logo)
	display: inline-block

// menu
.menu
	float: right
	margin-right: 195px
	font-size: 0
	.menu__item
		padding: 30px 23px 0
		height: 83px
		vertical-align: top
		display: inline-block
		&.is-active
			margin-bottom: 83px
			background: $light-gray
			& > a
				&:before
					background: transparent
			.menu__in
				display: block
		& > a
			position: relative
			height: 26px
			line-height: 26px
			font-size: 13px
			text-transform: uppercase
			vertical-align: middle
			+f900
			+transition(color .2s linear)
			&:hover
				color: $second_h
				&:before
					bottom: -1px
					background: transparent
			&:before
				position: absolute
				content: ''
				left: 0
				right: 0
				bottom: 0
				height: 1px
				background: $green
				+transition(background, .2s linear)
			&:after
				position: absolute
				content: ''
				top: -30px
				left: -22px
				right: -22px
				bottom: -27px
	a
		position: relative
		color: #000
		display: block
	.menu__in
		position: absolute
		padding: 0 30px
		bottom: 0
		left: 0
		right: 0
		+box
		background: $light-gray
		display: none
		+clr

// ul
.ul
	float: right
	font-size: 0
	li
		margin-left: 38px
		vertical-align: top
		font-size: 14px
		+f300
		display: inline-block
		&:first-child
			margin-left: 0
		+r(1200)
			margin-left: 15px
	a
		height: 83px
		line-height: 89px
		letter-spacing: 0.45px
		+transition(color .2s linear)
		&:hover
			color: $second_h
		&.is-active
			&:before
				bottom: 0
				background: #000
		&.is-active
			+f700
		&:before
			position: absolute
			content: ''
			left: 0
			right: 0
			bottom: -1px
			height: 2px
			background: transparent
		&:after
			position: absolute
			content: ''
			top: 0
			left: -22px
			right: -22px
			bottom: 0

// cabinet
.cabinet
	float: right
	margin-left: 45px
	padding: 0 0 29px 30px
	width: 140px
	height: 83px
	line-height: 28px
	font-size: 14px
	&.is-active
		&:before
			position: absolute
			content: ''
			left: 0
			right: 2px
			bottom: 0
			height: 2px
			background: #000

	+r(1200)
		margin-left: 20px
	.cabinet__row
		position: relative
		height: 21px
		line-height: 21px
		vertical-align: bottom
		display: inline-block
		+transition(color .3s)
		&:hover
			color: $red
			.ico_user
				&:before
					opacity: 0
				&:after
					opacity: 1

		.ico
			position: absolute
			left: -30px
			top: 0
			&:before,
			&:after
				+transition(opacity .3s)
	.cabinet__name
		width: 106px
		font-size: 12px
		height: 15px
		line-height: 16px
		vertical-align: bottom
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		display: inline-block

// search
.search
	float: right
	margin-top: 35px
	.search__btn
		position: relative
		height: 19px
		width: 19px
		background-color: transparent
		display: inline-block
		&:before,
		&:after
			position: absolute
			content: ''
			top: 0
			left: 0
			+transition(opacity .2s linear)
		&:before
			+s($ico-search)
		&:after
			opacity: 0
			+s($ico-search-hov)
		&:hover
			&:before
				opacity: 0
			&:after
				opacity: 1
		span
			position: absolute
			top: -35px
			left: -30px
			right: -30px
			bottom: -30px

// search-form
.search-form
	position: relative
	padding: 26px 70px 35px 30px
	background: #fff
	& > input
		height: 60px
		width: 100%
		+f100
		font-size: 36px
		line-height: 60px
		color: $green
		text-shadow: 0px 0px 0px #000
		-webkit-text-fill-color: transparent
		display: block
		&::placeholder
			text-shadow: none
			-webkit-text-fill-color: initial
	.search-form__row
		margin-top: 20px
		+clr
		.radiobutton
			margin-left: 25px
			vertical-align: top
			display: inline-block
			&:first-child
				margin-left: 2px
		.view
			float: right

// search-wrap
.search-wrap
	margin-top: 15px
	background: #fff
	&.is-list
		.search-item
			padding: 15px 28px
		.items
			.point
				padding: 6px 28px 10px
	.is-search
		color: $red
	.point
		&:first-child
			margin-top: -1px

.search-item
	padding: 28px
	color: #000
	border-bottom: 1px solid $border-item
	display: block
	+transition(background .3s)
	&:hover
		background: $accord-bg-h
		.search-title
			color: $red

.search-title
	color: $green
	font-size: 18px
	display: inline
	+transition(color .3s)

.search-text
	padding: 28px
	font-size: 16px

.route
	.route__item
		margin-left: 15px
		&:after
			content: '/'
			margin-left: 10px

.search-loader
	height: 120px
	+vertical
	.search-loader__img
		vertical-align: middle
		display: inline-block
		img
			display: block

// basket
.basket
	position: absolute
	top: 35px
	right: 157px
	padding-left: 25px
	font-size: 14px
	background-color: transparent
	+f700
	.ico
		position: absolute
		left: 0
		top: 50%
		+translate(0,-50%)
