// icons
.ico
	display: inline-block
	&_user
		+s($ico-user)
	&_basket
		+sr($ico-basket)
	&_basket-w
		+s($ico-basket-w)
	&_search-gray
		+s($ico-search-gray)
	&_arr
		+s($arr)
	&_f
		+s($ico-f)
	&_vk
		+s($ico-vk)
	&_tw
		+s($ico-tw)
	&_m
		+s($ico-m)
	&_pdf
		+s($ico-pdf)
	&_doc
		+s($ico-doc)
	&_add
		+s($arr-add-white)
	&_logout
		margin-right: 3px
		vertical-align: middle
		+s($ico-logout)
	&_reg
		position: relative
		width: 15px
		height: 16px
		&:before
			position: absolute
			content: ''
			left: 0
			right: 0
			+s($ico-reg)
	&_print
		position: relative
		width: 13px
		height: 14px
		&:before,
		&:after
			position: absolute
			content: ''
			top: 0
			left: 0
		&:before
			+s($ico-print)
		&:after
			opacity: 0
			+s($ico-print-h)