body
	&.is-home
		.header
			margin-bottom: 0
		.out
			height: 100%
			padding-bottom: 75px
		.main
			padding: 233px 35px 30px
			min-height: calc(100% - 75px)
			color: #fff
			background: url(../img/index-out-bg.jpg) no-repeat -50% 0
			background-size: cover
			+box
		.main__center
			margin: 0 auto
			width: 715px