body
	&.is-home
		background: url(../img/index-bg.png) no-repeat 0 0
		background-size: cover
		background-attachment: fixed
		.header
			margin-bottom: 0
		.out
			padding-bottom: 75px
		.main
			position: relative
			padding: 228px 15px 30px
			min-height: calc(100% - 75px)
			color: #fff
			background: url(../img/index-out-bg.jpg) no-repeat 0 0
			background-size: cover
			display: block
			+box
			+clr
		.main__center
			margin: 0 auto 245px
			width: 715px
			text-align: center
		h1
			margin-bottom: 46px
			font-size: 36px
			font-weight: 100
			+f100
		.events
			position: relative
			font-size: 0
		.events__item
			position: static
			padding: 0 15px 30px
			width: 25%
			font-size: 14px
			line-height: 24px
			vertical-align: top
			display: inline-block
			+box
			.date
				position: absolute
				bottom: 0
				opacity: .5
		.links__left,
		.links__right
			position: absolute
			top: 50%
			+translate(0, -50%)
			+f100
			font-size: 28px
			color: #fff
			+rotate(-90deg)
		.links__left
			left: -178px
			+r(1550)
				left: -100px
			+r(1394)
				left: -80px
			+r(1354)
				left: -45px
		.links__right
			right: -178px
			+r(1550)
				right: -100px
			+r(1394)
				right: -80px
			+r(1354)
				right: -37px
