// nav
.nav
	margin-bottom: 50px
	padding: 0 12px
	font-size: 14px
	li
		position: relative
		display: block
		[class^="ul-"]
			position: absolute
			left: 100%
			top: 0
	a
		position: relative
		color: #000
		line-height: 24px
		+transition(color .1s linear)
		display: inline-block
	.nav__item
		user-select: none
		border-bottom: 1px solid $border-nav
		display: block
		&:hover
			.nav__wrap
				background: $bg_ul-o
				a
					color: #fff
			.nav__arr
				+s($arr-white-bot)
		&:first-child
			border-top: 1px solid $border-nav
		&.is-active
			.nav__wrap
				background: $bg_ul-o
				& > a
					color: #fff
					+f700
			.nav__arr
				+s($arr-top)
			.nav__block
				&:hover
					.nav__arr
						+s($arr-white)
	.nav__arr
		display: inline-block
		position: absolute
		top: 50%
		right: 10px
		+translate(0,-50%)
		background-color: transparent
		+s($arr)
	.nav__wrap
		position: relative
		padding: 11px 35px 12px 18px
		cursor: pointer
		+transition(background .1s linear)
	.nav__block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 35px
		&:hover
			& > [class^="ul-"]
				opacity: 1
				visibility: visible
				height: auto
				overflow: visible
			.nav__arr
				+s($arr-white)
		& > ul li
			padding: 11px 35px 12px 18px
	[class^="ul-"]
		padding: 14px 13px 14px 16px
		width: 226px
		height: 0
		visibility: hidden
		opacity: 0
		overflow: hidden
		z-index: 20
		+transition(height .1s, opacity .1s linear)
		+box
		& + [class^="ul-"]
			margin-left: -13px
		li
			+transition(background .1s linear)
			&:hover
				.list-links,
				& > [class^="ul-"]
					opacity: 1
					visibility: visible
					height: auto
					overflow: visible
	.list-links
		background: #fff
		display: none

// list-wrap
.list-wrap
	padding: 14px 72px 14px 10px

// list-links
.list-links
	position: relative
	padding: 13px 0 26px
	&.is-disabled
		opacity: 0.5
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 1
		a
			border-color: $border-nav
	li
		padding: 12px 25px 12px 20px
		&.is-active 
			& > ul
				display: block
			a
				border: none
	a
		padding: 3px 0
		color: #000
		line-height: 24px
		border-bottom: 1px solid $green
		+transition(color .2s, border-color .2s linear)
		display: inline
		&:hover
			color: $second_h
			border-color: transparent
		&.is-active
			+f700
			border-bottom: none
	ul
		position: relative
		padding: 16px 0 0 18px
		display: none
		&:before
			position: absolute
			content: ''
			top: 22px
			left: 0
			bottom: 6px
			border-left: 1px solid $border-list-links
		li
			margin-top: 10px
			padding: 0
			&:first-child
				margin-top: 0
		a
			position: relative
			border: none
			&.is-active
				&:before
					position: absolute
					content: ''
					top: 5px
					left: -18px
					bottom: 4px
					border-left: 1px solid $green
		ul
			padding: 12px 0 0 20px
			margin-left: 3px
			&:before
				top: 18px
			li
				margin-right: -5px
			a.is-active
				&:before
					left: -20px
.ul-o
	background: $bg_ul-o
	li
		&:hover
			background: $bg_ul-t
.ul-t
	background: $bg_ul-t
	li
		&:hover
			background: $bg_ul-th
.ul-th
	background: $bg_ul-th
	li
		&:hover
			background: $bg_ul-f
.ul-f
	background: $bg_ul-f
	li
		&:hover
			background: $bg_ul-fi
.ul-fi
	background: $bg_ul-fi


// page-name
.page-name
	position: relative
	padding: 40px 45px 30px 30px
	font-size: 24px
	+f500
	.page-name__in
		margin-right: -20px

// btn-search
.btn-search
	position: absolute
	top: 46px
	right: 24px
	+s($ico-search-gray)
	background-color: transparent
	display: inline-block

// promo
.promo
	padding: 40px 30px 45px
	color: #fff
	font-size: 13px
	background-size: cover
	background-repeat: no-repeat
	.promo__title
		margin: 25px 0 5px
		line-height: 1
		font-size: 50px
		+f900
	.promo__info
		margin-bottom: 15px
		font-size: 14px
		+f700
	.promo__text
		line-height: 24px
	.btn
		margin-top: 20px

// spec
.spec
	padding: 40px 28px 45px
	.spec__img
		margin: 30px 0
		img
			display: block
	.spec__title
		color: $green
		line-height: 24px
		text-align: center
		text-decoration: underline
		display: inline-block
		&:visited
			color: $second_a
		&:hover
			color: $second_h
			text-decoration: none

// debr
.debr
	padding: 40px 28px 35px
	border-top: 1px solid $border-debr
	border-bottom: 1px solid $border-debr
	.title-h4
		margin: 20px 0
		line-height: 30px
	.radiobutton
		margin: 10px 0

// pop-inf
.pop-inf
	padding: 40px 28px 45px
	.pop-inf__list
		li
			margin-top: 10px
			line-height: 24px
			display: block
			&:first-child
				margin-top: 0
		a
			color: #000
			text-decoration: underline
			+transition(color .1s)
			&:visited
				color: $second_a
			&:hover
				color: $second_h
				text-decoration: none
	.title-h4
		margin: 20px 0
		line-height: 24px
