+font(museosanscyrl_100, museosanscyrl_100)  
=f100
	font-family: "museosanscyrl_100", Arial, Helvetica, sans-serif
	 
+font(museosanscyrl_100_italic, museosanscyrl_100_italic)  
=f100i
	font-family: "museosanscyrl_100_italic", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_300, museosanscyrl_300)  
=f300
	font-family: "museosanscyrl_300", Arial, Helvetica, sans-serif 

+font(museosanscyrl_300_italic, museosanscyrl_300_italic)  
=f300i
	font-family: "museosanscyrl_300_italic", Arial, Helvetica, sans-serif 
	

+font(museosanscyrl_500, museosanscyrl_500)  
=f500
	font-family: "museosanscyrl_500", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_700, museosanscyrl_700)  
=f700
	font-family: "museosanscyrl_700", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_900, museosanscyrl_900)  
=f900
	font-family: "museosanscyrl_900", Arial, Helvetica, sans-serif 


=tr_c
	+tr(color .3s)

// variables
$green: #0b9a42
$light-gray: #f4f4f4