+font(museosanscyrl_100, museosanscyrl_100)  
=f100
	font-family: "museosanscyrl_100", Arial, Helvetica, sans-serif
	 
+font(museosanscyrl_100_italic, museosanscyrl_100_italic)  
=f100i
	font-family: "museosanscyrl_100_italic", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_300, museosanscyrl_300)  
=f300
	font-family: "museosanscyrl_300", Arial, Helvetica, sans-serif 

+font(museosanscyrl_300_italic, museosanscyrl_300_italic)  
=f300i
	font-family: "museosanscyrl_300_italic", Arial, Helvetica, sans-serif 
	

+font(museosanscyrl_500, museosanscyrl_500)  
=f500
	font-family: "museosanscyrl_500", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_700, museosanscyrl_700)  
=f700
	font-family: "museosanscyrl_700", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_900, museosanscyrl_900)  
=f900
	font-family: "museosanscyrl_900", Arial, Helvetica, sans-serif 


=tr_c
	+tr(color .3s)


// variables
$primary: #0b9a42
$primary_h: #0ca948
$primary_a: #088939
$bg: #f4f4f4
$bg-sidebar: #f9f9f9

$second: #000
$second_h: #de1313
$second_a: #b40eb4

$error: #fb0000

$green: $primary
$light-gray: $bg
$red: #d60000
$yeloow: #e6ce06
$light-blue: #548fcb
$orange: #e99426
$light-brown: #faf6e8
$light-orange: #efa94e

// menu bg
$border-nav: #dfdfdf
$bg_ul-o: $primary_a
$bg_ul-t: $green
$bg_ul-th: $primary_h
$bg_ul-f: #0bb84d
$bg_ul-fi: #05c64e

// radiobutton
$bord-rad: #969696
$bord-green-rad: #649978
$bg-rad: #001831

$border-debr: $border-nav
$border-filter: #c5c5c5
$border-checkbox: #919191
$border-comment: #e5e5e5

// item colors
$border-item: #dedede
$border-item-all: #e2932c
$border-item-all_h: #da810f
$bg-item-all_h: #e29026

$viev-active: #e4efe8

$years-active: $viev-active

